{% extends "base.html" %}
{% load staticfiles %}


{% block slider %}
    {% include 'slider.html' %}
{% endblock %}
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline text-center">
                      <img src="{% static 'img/padlock.png' %}" alt="">
                  </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline text-center">
                    <h2>Your Security Is Our First Priority</h2>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline text-center">
                    <h4>susuBox uses the highest levels of Internet Security, and it is secured by 256 bits SSL security encyption to ensure that your information is completely protected from fraud.</h4>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br>
     <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                <h2>How to Save with <span style="color: #3ec1d5">susu</span>Box</h2>
            </div>
              <br>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                  <img src="{% static 'img/membership.png' %}" alt="">
                  <br>
                <p style="font-weight: 900; margin-top: 15px">
                  Create an account for FREE, set how much and how frequently you want to save into your susuBox.
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <img src="{% static 'img/safebox.png' %}" alt="">
                <p style="font-weight: 900;margin-top: 15px">
                  Daily, weekly or monthly, susuBox gets the amount you set from your debit card safely into your susuBox.
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <img src="{% static 'img/withdraw.png' %}" alt="">
                <p style="font-weight: 900;margin-top: 15px">
                  You can withdraw all or part of your savings into your bank account for FREE only on your set withdrawal day or be charged a breaking fee.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br>
{#    About #}
      <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
               <img src="{% static 'img/calendar.png' %}" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">Easily Schedule Daily, Weekly or Monthly Deposits</h4>
              </a>
              <p>
                In a few simple fields, you can set your own preferred savings frequency, regular amount & overall target with a click of a button that instructs Piggybank.ng to automatically help you save small small until you reach your savings target.
              </p>

            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
        <br><br>
        <hr>
        <div class="row">
        <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">You Can Also Manually Add Funds With The QuickSave Option</h4>
              </a>
              <p>
                  You can add funds to your account at any point you like, whether you just got your salary, received extra income or you just want to put money aside randomly, you can use the Quicksave option anytime.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
               <img src="{% static 'img/wallet.png' %}" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->

        <!-- End col-->
      </div>
        <br><br>
        <hr>
        <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
               <img src="{% static 'img/thumbs-up.png' %}" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">Be Disciplined, Set Your Own Withdrawal Day - Or Withdraw Quarterly</h4>
              </a>
              <p>
                  Use any of Piggybank.ng's 4 default withdrawal days in a year or a day you set to withdraw all or part of your Piggybank.ng savings to your set bank account securely for FREE. Withdrawing outside those days attracts a 5% breaking fee on just the amount you are withdrawing.
              </p>

            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
    <br><br>
{#    End ABout#}
      <div class="suscribe-area" style="margin-bottom: 12%; margin-top: 10%">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>Let's Help You Control Your Spending Habit!</h3>
            <a class="sus-btn" href="{% url 'register' %}">Create a Free Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About area -->
{% endblock %}